body{
  background-color: #FFFBEA;
}
*{
  box-sizing: border-box;
}

::selection{
  background-color:#3367D1 ;
  color: white;
}

.logo h3{
  font-size:18px ;
  font-weight: 700;
 margin-bottom: 3px;
}

.logo p{
  font-size:12px ;
  font-weight: 400;
  margin-bottom: 3px;
}

.navbar .nav-item .image-wrapper {
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
  border: 2px solid #FFB86A;
  overflow: hidden;    
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}


.navbar .nav-item .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;   
  border-radius: 50%;
}

.icon-btn{
  color: rgb(75, 73, 73);
  transition: all 0.3s ease;
}

.icon-btn:hover{
  color: #FE4722;
}

/* ////////////////////////////////////////////////////////////////////////////// */

.container .image-wrapper {
  overflow: hidden;    
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
   flex: 1;
   height:100%;
}

.container .image-wrapper img {
  width: 100%;
   height: 100%;
  object-fit: cover;   
  display: block;
}

.title-icon{
  background-color: #ffe4c6;
  transition: all 0.3s ease;
}

.title-icon:hover{
   background-color: #FFD7A8;
}

.meal-rating-box {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40%;
  height: 35px;
  background: white;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 10;
  justify-content: center;
}

.meal-times-box {
  position: absolute;
  bottom: 10px;
 
  width: 80%;
  margin: auto;
  background: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.carousel{
  padding-bottom: 30px;
  border-bottom: 2px solid #eaf0f6;
}

.carousel-indicators {
  border-bottom: 2px solid #eaf0f6;
}

.carousel-indicators [data-bs-target] {
  background: transparent;
  border: none;
  padding: 10px 18px;
  margin: 0 5px;
  opacity: 1;
  text-indent: 0;
  width: auto;
  height: auto;
  background-color: #ffffff;
  color: gray;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

 .carousel-indicators [data-bs-target]:hover {
  color: #364153;
}
.carousel-indicators .active {
  color: #FF6900;
  border-bottom: 3px solid #FF6900;
}


.btn-color {
   background:linear-gradient(to right,#fd6113,#f03d3d);
   transition: all 0.3s ease;
}
.btn-color:hover{
   transform: scale(1.1);
   background:linear-gradient(to right,#e85207,#f02727);
}

/* ///////////////////////////////////////////////////////////////////////// */
@media (max-width: 575px) {
  .nav-item span {
    display: inline !important;
  }

  .navbar-nav .nav-item .icon-btn,
  .navbar-nav .nav-item .image-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }

}

@media (min-width: 576px) {
  .nav-item span {
    display: none !important;
  }
}

